<div>
    <h4>Add Category</h4>
    <div>
        <label class="p-2" for="">Id</label>
        <input type="text" class="form-control" [(ngModel)]="id" />
        <label class="p-2" for="">Name</label>
        <input type="text" class="form-control" [(ngModel)]="name" />
        <label class="p-2" for="">Age</label>
        <input type="text" class="form-control" [(ngModel)]="age" />
        <div class="my-3">
            <button class="btn btn-warning" (click)="onAddCategory()">AddCategory</button>
        </div>
    </div>
</div>