<header>
    <div class="row">
        <div class="col-logo">
            <div class="logo">
                <img src="https://service.secureoffersites.com/images/GetLibraryImage?fileNameOrId=87318&Width=0&Height=0&quality=85
                " alt="">
            </div>
        </div>
        <div class="col-nav">
            <div class="navbar">
                <a href="#about">About</a>
                <a href="#team_contact"><i class="fa fa-user"></i> Team</a>
                <a href="#pricing"><i class="fa fa-usd"></i> Pricing</a>
                <a href="#footer_section"><i class="fa fa-envelope"></i> Contact</a>
            </div>
        </div>
    </div>
</header>
<app-sample></app-sample>
<app-second></app-second>
<app-third></app-third>
<app-footer></app-footer>

<div class="container bg-muted p-4">
    <app-test></app-test>ng service
</div>
<div class="my-4">
    <app-add-user></app-add-user>
</div>
<div mx-3>
    <app-add-user-two-way></app-add-user-two-way>
</div>

<div class="my-5">
    <app-user-ng></app-user-ng>
</div>
<div py-5 my-5>
    <app-ng-for-component></app-ng-for-component>
</div>