<div class="row">
    <div class="col-md-12 my-2">
        <input type="text" class="form-control" placeholder="search here" [(ngModel)]="filteredString" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Users</h2>
    </div>
</div>
<div class=" row ">
    <div class="col-md-12 ">
        <a [routerLink]="[ '/user', 'add'] " class="btn btn-dark ">Add User</a>
    </div>
</div>
<div class="row ">
    <div class="col-md-12 ">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Categories</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users |filter:filteredString">
                    <td>{{user.id}}</td>
                    <td>{{user.title}}</td>
                    <td>{{user.status}}</td>
                    <td>
                        <a [routerLink]="[ '/user',user.id, 'edit'] " class="btn btn-dark mx-2 px-4 ">Edit</a>
                        <a (click)="deleteCategory(user.id) " class="btn btn-success mx-2 ">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>