<h1 setBackground>This is custom Directive</h1>
<div setBackground>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt atque quia unde odit quod odio consectetur nulla quam. Magnam consequatur molestiae pariatur ratione placeat maiores consequuntur maxime commodi praesentium eum?</p>
</div>
<div appHighlight>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt atque quia unde odit quod odio consectetur nulla quam. Magnam consequatur molestiae pariatur ratione placeat maiores consequuntur maxime commodi praesentium eum?</p>
</div>