<div class="row">
    <div class="col-md-12">
        <h3>Add User</h3>
        <form [formGroup]="userForm" (ngSubmit)="onAddUser()">
            <div class="my-3">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div>
                <label for="">Status</label>
                <select class="form-control" formControlName="status">
                    <option value="active">Active</option>
                    <option value="Inactive">InActive</option>
                </select>
            </div>
            <div class="my-3">
                <button class="btn btn-info">Add User</button>
            </div>
        </form>
    </div>
</div>