<div id="team_contact" class="team-contact">
    <div class="row">
        <div class="col">
            <div class="team-detail">
                <img src="../../assets/images/Ramesh.png" alt="" />
                <div class="team-contact-column">
                    <h2>Ramesh Vallabhaneni</h2>
                    <p class="contact-designation">Chief Executive Officer</p>
                    <p class="contact-detail">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum</p>
                    <button class="btn-team-contact"><i class="fa fa-envelope"></i> Contact</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="team-detail">
                <img src="../../assets/images/Avishek.png" alt="" />
                <div class="team-contact-column">
                    <h2>Avishek Kumar</h2>
                    <p class="contact-designation">Director of Product Engineering</p>
                    <p class="contact-detail">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum</p>
                    <button class="btn-team-contact"><i class="fa fa-envelope"></i> Contact</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="team-detail">
                <img src="../../assets/images/Samanth.png" alt="" />
                <div class="team-contact-column">
                    <h2>Samanth Vallabhaneni</h2>
                    <p class="contact-designation">Director of Operations</p>
                    <p class="contact-detail">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum</p>
                    <button class="btn-team-contact"><i class="fa fa-envelope"></i> Contact</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="team-detail">
                <img src="../../assets/images/Raveendra.png" alt="" />
                <div class="team-contact-column">
                    <h2>Raveendra Badugu</h2>
                    <p class="contact-designation">HR Manager</p>
                    <p class="contact-detail">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum</p>
                    <button class="btn-team-contact"><i class="fa fa-envelope"></i> Contact</button>
                </div>
            </div>
        </div>
    </div>
</div>