<div id="footer_section" class="footer">
    <div class="row">
        <div class="col">
            <div class="border-top p-3">
                <h5 class="text-primary">NEW</h5>
                <h6>Search Inventory</h6>
                <h6>Search by Brand</h6>
                <h6>Search by Type</h6>
            </div>
        </div>
        <div class="col">
            <div class="border-top p-3">
                <h5 class="text-primary">PRE-OWNED</h5>
                <h6>Search Inventory</h6>
                <h6>Search by Brand</h6>
                <h6>Search by Type</h6>
            </div>
        </div>
        <div class="col">
            <div class="border-top p-3">
                <h5 class="text-primary">SERVICE</h5>
                <h6>Schedule Service</h6>
                <h6>Accessories</h6>
                <h6>Collision Center</h6>
            </div>
        </div>
        <div class="col">
            <div class="border-top p-3">
                <h5 class="text-primary">ABOUT</h5>
                <h6>About Us</h6>
                <h6>Sell or Trade</h6>
                <h6>Apply for Financing</h6>
            </div>
        </div>
    </div>
</div>