<h5>Add User List</h5>
<div>
    <label for="">Id </label>
    <input type="text" class="form-control w-25" [(ngModel)]="id" />
    <label for="">Name </label>
    <input type="text" class="form-control w-25" [(ngModel)]="name" />
    <label for="">Age </label>
    <input type="text" class="form-control w-25" [(ngModel)]="age" />
    <button class="btn btn-primary my-2" (click)="onAddUser()">Add User list</button>
</div>
<!-- <div>
    <label for="">Description</label>
    <textarea class="form-control" id="" cols="30" rows="10"></textarea>
</div> -->