<div id="pricing" class="pricing padding-128x16" id="pricing">
    <div class="pricing-header">
        <h2>PRICING</h2>
        <h3>Choose a pricing plan that fits your needs.</h3>
    </div>
    <div class="row pricing-row">
        <div class="col pricing-column">
            <div class="pricing-column-wrapper">
                <ul>
                    <li class="pricing-column-package">
                        <h2>Basic</h2>
                    </li>
                    <li><b>10GB</b> Storage</li>
                    <li><b>10</b> Emails</li>
                    <li><b>10</b> Domains</li>
                    <li><b>Endless</b> Support</li>
                    <li>
                        <p class="price-value">$ 10</p><span class="rate-span">per month</span></li>
                    <li class="signup"><button class="btn btn-hover padding-12x24">Sign Up</button></li>
                </ul>
            </div>
        </div>
        <div class="col pricing-column-active">
            <div class="pricing-column-wrapper">
                <ul>
                    <li class="pricing-column-package pricing-column-package-pro">
                        <h2>Pro</h2>
                    </li>
                    <li><b>25GB</b> Storage</li>
                    <li><b>25</b> Emails</li>
                    <li><b>25</b> Domains</li>
                    <li><b>Endless</b> Support</li>
                    <li>
                        <p class="price-value">$ 25</p><span class="rate-span">per month</span></li>
                    <li class="signup"><button class="btn btn-hover padding-12x24">Sign Up</button></li>
                </ul>
            </div>
        </div>
        <div class="col pricing-column">
            <div class="pricing-column-wrapper">
                <ul>
                    <li class="pricing-column-package">
                        <h2>Premium</h2>
                    </li>
                    <li><b>50GB</b> Storage</li>
                    <li><b>50</b> Emails</li>
                    <li><b>50</b> Domains</li>
                    <li><b>Endless</b> Support</li>
                    <li>
                        <p class="price-value">$ 50</p><span class="rate-span">per month</span></li>
                    <li class="signup"><button class="btn btn-hover padding-12x24">Sign Up</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>