<div class="row mt-5">
    <div class="col-md-12">
        <form [formGroup]="addPostForm" (ngSubmit)="onAddPost()">
            <div class="my-2">
                <label>Title</label>
                <input class="form-control" formControlName="title">
            </div>
            <div class="my-2">
                <label>Category</label><br>
                <select class="form-select" aria-label="Default select example" formControlName="category">
                    <!-- <option selected>Open this select Category</option> -->
                    <option *ngFor="let Category of posts" value="{{Category.title}}">{{Category.title}}</option>
                </select>
            </div>
            <div class="my-2">
                <label>Body</label>
                <input class="form-control" formControlName="body">
            </div>
            <div class="my-2">
                <button class="btn btn-success">Submit Post</button>
            </div>
        </form>
    </div>
</div>