<header>
    <nav class="d-flex justify-content-end">
        <ul class="nav m-3">
            <li class="nav-item"><a class="p-3 nav-link" routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a></li>
            <li class="nav-item"><a class="p-3 nav-link" routerLink="/user" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">User</a></li>
            <li class="nav-item"><a class="p-3 nav-link" routerLink="/contact" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Contact</a></li>
        </ul>
    </nav>
</header>